/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

:root {
    --shadow-focus-light: 0 0 0 4px rgba(0, 120, 255, 0.25);
    --shadow-focus-dark: 0 0 0 4px rgba(100, 170, 255, 0.35);

    --border-light: #e0e0e0;
    --border-dark: #444;
    --output-light: 0 4px 12px rgba(0, 0, 0, 1.1)
}

body {
    overflow-x: hidden;
    background: #fafafa;
    color: #111;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.header-actions{
    display: flex;
    gap:10px;
    margin-left: auto;
}

.login-btn,
.signup-btn {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: dodgerblue;
    color: white;
    font-size: 14px;
    transition: 0.3s transform ease-in;
}

.login-btn:hover,
.signup-btn:hover {
    transform: scale(1.05);
}

body::-webkit-scrollbar {
    display: none;

}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 17px;
    margin-top: -18px;
}

h3 {
    text-align: center;
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 30px;
}

/* THEMES */
.dark {
    background: #0e0e0e;
    color: #eee;
}

/* HEADER */
.header {
    display: flex;
    padding: 25px 25px;
    align-items: center;
    justify-content: space-between;
}

.theme-btn {
    padding: 8px 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: dodgerblue;
    transition: 0.3s transform ease-in
}


/* MAIN */
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 25px;
}

.input-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 0.45s ease;
}

.move {
    transform: translateX(-10px);
    width: 45%;
}


textarea {
    width: 100%;
    min-height: 220px;
    resize: none;
    font-size: 16px;
    background: inherit;
    color: inherit;
    border: 1px solid var(--border-light);
    border-radius: 12px;
    padding: 12px;
    transition: box-shadow 0.25s ease, border-color 0.25s ease;
    outline: none;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

textarea::-webkit-scrollbar {
    display: none;
    
}

textarea:focus-within {
    box-shadow: var(--shadow-focus-light);
    border-color: rgba(0, 120, 255);
}

.light-theme::placeholder {
    color: #eee
}

.dark-theme {
    border-color: var(--border-dark)
}

.dark-theme:focus-within {
    box-shadow: var(--shadow-focus-dark);
    border-color: rgba(100, 170, 255)
}

.dark-theme::placeholder {
    color: #0e0e0e
}

/* BUTTON */

.btn-layout {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summ-btn {
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: dodgerblue;
    color: white;
    font-size: 17px;
    transition: 0.3s transform ease-in;
}

.clear-btn {
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: red;
    color: white;
    font-size: 17px;
    transition: 0.3s transform ease-in;
}

.summ-btn:hover,
.clear-btn:hover,
.theme-btn:hover {
    transform: scale(1.11);
}

/* WORD COUNT */
.word-count {
    font-size: 14px;

}

/* OUTPUT */
.output-box {
    width: 55%;
    height: 300px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
    box-shadow: var(--output-light);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.output-box::-webkit-scrollbar {
    display: none;
}

.output-box pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    word-break: break-word;
    margin: 0;
}


.output-box.visible {
    opacity: 1;
    transform: translateY(0);
}

