/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

:root {
    --shadow-focus-light: 0 0 0 4px rgba(0, 120, 255, 0.25);
    --shadow-focus-dark: 0 0 0 4px rgba(100, 170, 255, 0.35);

    --border-light: #d0d0d0;
    --border-dark: #444;
}

body {
    overflow-x: hidden;
    background: #fafafa;
    color: #111;
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 13px;
}

h3 {
    text-align: center;
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 18px;
}

/* THEMES */
.dark {
    background: #0e0e0e;
    color: #eee;
}

/* HEADER */
.header {
    display: flex;
    padding: 25px 25px;
    align-items: center;
}

.theme-btn {
    position: absolute;
    right: 40px;
    padding: 8px 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: dodgerblue;
    transition: 0.3s transform ease-in
}


/* MAIN */
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 25px;
}

.input-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: translateX(0);
}

.move {
    transform: translateX(-5px);
    transition: transform 1.45s ease;
}


textarea {
    width: 100%;
    min-height: 220px;
    resize: none;
    font-size: 16px;
    background: inherit;
    color: inherit;
    border: 2px solid var(--border-light);
    border-radius: 12px;
    padding: 12px;
    transition: box-shadow 0.25s ease, border-color 0.25s ease
}

textarea:focus-within {
    box-shadow: var(--shadow-focus-light);
    border-color: rgba(0, 120, 255);
}

.light-theme::placeholder {
    color: #eee
}

.dark-theme {
    border-color: var(--border-dark)
}

.dark-theme:focus-within {
    box-shadow: var(--shadow-focus-dark);
    border-color: rgba(100, 170, 255)
}

.dark-theme::placeholder {
    color: #0e0e0e
}

/* BUTTON */

.btn-layout {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summ-btn {
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: dodgerblue;
    color: white;
    font-size: 17px;
    transition: 0.3s transform ease-in;
}

.clear-btn {
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: red;
    color: white;
    font-size: 17px;
    transition: 0.3s transform ease-in;
}

.summ-btn:hover,
.clear-btn:hover,
.theme-btn:hover {
    transform: scale(1.11);
}

/* WORD COUNT */
.word-count {
    font-size: 14px;

}

/* OUTPUT */
.output-box {
    width: 55%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ffffff1a;
}



.output-box.visible {
    opacity: 1;
    transform: translateY(0);
}